@import "normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --font-sans: var(--font-roboto-cond), var(--font-noto-sans-jp), Helvetica, Arial, 'Meiryo UI', 'Hiragino Sans', sans-serif;
  --font-display: var(--font-wix-madefor-display), var(--font-noto-sans-jp), sans-serif;
  --font-mono: var(--font-plemol-jp), monospace;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body{
  font-family: var(--font-sans);
  .display{
    font-family: var(--font-display);
  }
  .mono, pre, code{
    font-family: var(--font-mono);
  }
  background-color: #dcebe8;
  color: #273238;
}